@import '@csstools/normalize.css';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Titillium+Web:400,700');
/* @import-normalize; */

body {
    font-family: 'Titilium Web', Arial, Helvetica, sans-serif;
    font-size: $font-size-base;
}

.wrapper {
    margin: auto;
    max-width: 100%;
    width: 768px;

    h1 {
        font-size: $font-size-h1;
    }
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
